header {
    width: 100%;
    height: 100px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    box-shadow: 3px 3px 8px black;
    /* border: solid black 1px; */
}

.logo {
    height: 80px;
}

.barra {
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
    /* border: solid black 1px; */
    background-color: #F0F0F0;
}

.user {
    display: flex;
    flex-direction: row;
    height: 20px;
    width: 100px;
    justify-content: space-between;
    /* border: solid black 1px; */
}

main {
    /* height: 500px; */
    width: 100%;
    background-color: #F0F0F0;
}

main .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 42px;
    /* border: solid black; */
    padding: 36px;
}

main .container nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid black; */
    /* justify-content: space-around; */
    gap: 54px;
}

main .container nav div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 193px;
    height: 87px;
    background-color: white;
    /* border: solid black; */
    border-radius: 5px;
    gap: 21px;
    font-family: cursive;
    box-shadow: 3px 3px 8px black;
}